<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="/script/script.js"></script>
</head>

<body>
    <div class="row headerBar" data-userId= {{user._id}}>
        <p class="logOut">Log Out</p>
    </div>
    <div class="">
        <ul class="menuBar">
            <li><a href="/find-friends" class="otherUsers">See Other Users</a></li>
            <li><a href="#">Recently added WTDs</a></li>
            <li><a href="#" class="myProfile">Home</a></li>
            <li><a href="/followers">Followers</a></li>
            <li><a href="/following">Following</a></li>
        </ul>
    </div>
    <div class="container-fluid content">
        <div class="header row">
            <!-- <div class="row headerBar"></div> -->
            <div class="col-md-2 col-md-offset-1 profileLeft">
                <div id="profilePicture" style="background-image: url({{user.profilePicture}})"></div>
                <button id="follow" class="btn btn-success btn-info">Unfollow</button>
            </div>
            <div class="col-md-6 info">
                <h3><p>{{user.fullName}}</p></h3>
                <p>Date of birth: {{user.dob}}</p>
                <p>Email: {{user.email}}</p>
                <p>Phone Number: {{user.phoneNumber}}</p>
                <p>Languages: {{user.languages}}</p>
            </div>
        </div>
        <hr>

        <div id="newWTD">
        </div>

        {{#each user.myWTDs}}
            <div class="row WTD" wtd-id= {{_id}}>
                <div class="dataWTD col-md-6 col-md-offset-3">
                    <img class="postImg" src= {{../user.profilePicture}}></img>
                    <p>{{../user.fullName}} doesn't know What To Do {{withWho}} in {{city}} at {{timeStart}}-{{timeEnd}}</p>
                    <p>Details about this WTD: {{details}}</p>
                    <hr>
                    <div>
                    {{#each recommendations}}
                    <div class="recommendations row">
                            <div class="postRecommendationImg col-md-offset-1" style="background-image:url({{userProfilePicture}})"></div>
                            <p class="recommendations-container col-md-10">{{comment}}</p><br>
                    </div>
                    {{/each}}
                  </div>
                    <img class="postRecommendationImg" src={{../loggedin.profilePicture}}></img><textarea class="form-control recommendation-input" placeholder="Write your recommendation or comment..."></textarea>
                </div>
            </div>
        {{/each}}
    </div>
</body>

</html>
