<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="/script/script.js"></script>
</head>

<body>
    <div class="row headerBar" data-userId= {{user._id}}>
        <p class="logOut">Log Out</p>
    </div>
    <div class="">
        <ul class="menuBar">
            <li><a href="/find-friends" class="otherUsers">See Other Users</a></li>
            <li><a href="#">Recently added WTDs</a></li>
            <li><a href="#" class="myProfile">Home</a></li>
            <li><a href="/followers">Followers</a></li>
            <li><a href="/following">Following</a></li>
        </ul>
    </div>
    <div class="container-fluid content">
        <div class="header row">
            <!-- <div class="row headerBar"></div> -->
            <div class="col-md-2 col-md-offset-1 profileLeft">
                <div id="profilePicture" style="background-image: url({{user.profilePicture}})">
                </div>
                <button id="edit" class="btn btn-info">Edit</button>
            </div>
            <div class="col-md-6 info">
                <h3><p id="fullName">{{user.fullName}}</p></h3>
                <p>Date of birth: <span id="dob">{{user.dob}}</span></p>
                <p>Email: <span id="email">{{user.email}}</span></p>
                <p>Phone Number: <span id="phoneNumber">{{user.phoneNumber}}</span></p>
                <p>Languages: <span id="languages">{{user.languages}}</span></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <p>Don't know What To Do? <a>Ask your Friends!</a></p>
            <form class="newWTD">
                <p>New WTD</p>
                <label for="city">Enter the City you are interested in:</label>
                <input id="city" name="city" type="text" placeholder="San Francisco"></input>
                <label for="time">Select a time interval:</label> Start:
                <input id="time" name="timeStart" type="time"></input>
                Finish:<input id="time" name="timeEnd" type="time"></input>
                <label for="budget">Enter budget:</label>
                <input id="budget" name="budget" type="text" placeholder="$200"></input>
                <label for="togetherWith">Who do you want to go with:</label>
                <input id="togetherWith" name="with" type="text" placeholder="Alone, Friends etc."></input>
                <label for="details">Add your detailed imformation:</label>
                <textarea id="details" type="text" name="details"></textarea>
                <input type="submit" value="POST this WTD" class="btn btn-primary postNew"></input>
            </form>
        </div>

        <div id="newWTD">
        </div>

        {{#each user.myWTDs}}
            <div class="row WTD" wtd-id={{_id}}>
                <div class="dataWTD col-md-6 col-md-offset-3">
                    <img class="postImg" src={{../user.profilePicture}}></img>
                    <p>{{../user.fullName}} doesn't know What To Do {{withWho}}  in {{city}} at {{timeStart}}-{{timeEnd}}</p>
                    <p>Details about this WTD: {{details}}</p>
                    <input type="button" class="delete btn-danger" value="Delete"></input>
                    <hr>
                    <div>
                    {{#each recommendations}}
                    <div class="recommendations row">
                            <div class="postRecommendationImg col-md-offset-1" style="background-image:url({{userProfilePicture}})"></div>
                            <p class="recommendations-container col-md-10">{{comment}}</p><br>
                    </div>
                    {{/each}}
                  </div>
                    <img class="postRecommendationImg" src={{../user.profilePicture}}></img><textarea class="form-control recommendation-input" placeholder="Write your recommendation or comment..."></textarea>
                </div>
            </div>
        {{/each}}

        <div class="modal fade" role="dialog" id="editProfile">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Change your personal Info</h3>
            </div>
            <div class="modal-body">
                <form id="formToUpdate">
                <div class="form-group">
                    <div class="row">
                    <label class="col-md-5">Your profile picture URL:</label>
                    <input class="col-md-6" type="text" placeholder="http://yourpicture.com" name="profilePicture"></input><br>
                  </div>
                  <div class="row">
                    <label class="col-md-5 control-label">Change your name:</label>
                    <input class="col-md-6" type="text" name="fullName"></input>
                  </div>
                  <div class="row">
                    <label class="col-md-5 control-label">Change your date of birth:</label>
                    <input class="col-md-6" type="text" placeholder="11.03.1994" name="dob"></input>
                  </div>
                  <div class="row">
                    <label class="col-md-5 control-label">Change your email:</label>
                    <input class="col-md-6" type="text" placeholder="your@email.com" name="email"></input>
                  </div>
                  <div class="row">
                    <label class="col-md-5 control-label">Change your phoneNumber:</label>
                    <input class="col-md-6" type="text" placeholder="(xxx)-xxx-xxxx" name="phoneNumber"></input>
                  </div>
                  <div class="row">
                    <label class="col-md-5 control-label">Add languages you know:</label>
                    <input class="col-md-6" type="text" name="languages"></input>
                  </div>
              </div>
            </form>
              </div>
              <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="updateProfile">Save changes</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>

</html>
