<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="/script/script.js"></script>
</head>

<body>
  <div class="row headerBar" data-userId= {{user._id}}>
    <p class="logOut">Log Out</p>
  </div>
  <div class="">
      <ul class="menuBar">
          <li><a href="/find-friends" class="otherUsers">See Other Users</a></li>
          <li><a href="#">Recently added WTDs</a></li>
          <li><a href="#" class="myProfile">Home</a></li>
          <li><a href="/followers">Followers</a></li>
          <li><a href="/following">Following</a></li>
      </ul>
  </div>
    <div class="container content2">
      {{#each users}}
          <div class="row">
              <div class="user col-md-6 ">
                  <img class="userSearchPicture" src={{profilePicture}} user-id={{_id}}></img>
                  <p><a class="userNameLink" user-id={{_id}}>{{firstName}} {{lastName}}</a></p>
              </div>
          </div>
          <hr>
      {{/each}}
    </div>
</body>

</html>
